
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(241, 229, 229);
    padding: 1rem;
    z-index: 50;
    backdrop-filter: blur(8px);
    max-width: 100vw;
    overflow-x: hidden;
}

.nav-container {
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 97%;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
}

.logo {
    width: 120px;
    height: auto;
}

.search-container {
    display: flex;
    align-items: center;
    border: 1px solid #b59574;
    border-radius: 25px;
    padding: 5px 15px;
    width: 400px;
    transition: border-color 0.3s ease-in-out;
}

.search-input {
    border: none;
    outline: none;
    padding: 7px;
    width: 100%;
    font-size: 15px;
    background-color: #ffffff;
}

/* Navbar Links */
.nav-links {
    list-style: none;
    display: flex;
    margin-right: 20px;
    gap: 20px;
}

.nav-links li {
    font-size: 16px;
    font-weight: 500;
}

.nav-links a {
    text-decoration: none;
    color: #3f3832; /* Default color */
    transition: color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

/* Active Link (Gold Color) */
.nav-links a.active {
    color: #b59574; /* Gold color for active page */
    font-weight: bold;
}

/* Hover Effect */
.nav-links a:hover {
    color: #b47333; /* Gold color on hover */
    transform: scale(1.05); /* Slight zoom effect */
}

.hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: #b59574;
    margin-left: auto;
    padding: 0 10px 0 0;
}

@media screen and (max-width: 450px) {
    /* Hide search bar in mobile */
    .search-container {
        display: flex;
    }

    
        .nav-links {
            display: none;
            flex-direction: column;
            gap: 10px;
            text-align: center;
        }
    
        .nav-links.active {
            display: flex;
        }
    

    /* Show hamburger icon */
    .hamburger {
        display: block;
        z-index: 101;
        cursor: pointer;
        position: relative;
    }

    /* Show nav links when menu is active */
    .nav-links.active {
        display: flex;
        letter-spacing: .5px;
        font-size: 10px;
        font-family: sans-serif;
    }

}