.loader-container {
  margin-top: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color:transparent;
}

.loader-ring {
  width: 80px;
  height: 80px;
  border: 6px solid transparent;
  border-top: 6px solid gold;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(255, 215, 0, 0.8);
}
