.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
  }
  
  h2 {
    text-align: center;
    color: #333;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  button {
    padding: 10px;
    background: #d4af37;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  button:hover {
    background: #b8860b;
  }
  
  p {
    text-align: center;
    font-weight: bold;
  }
  
  p.success {
    color: green;
  }
  
  p.error {
    color: red;
  }
  



  @media screen and (max-width: 450px) {
    /* Hide search bar in mobile */
    .search-container {
        display: none;
    }

    /* Initially hide navigation links */
    .nav-links {
        display: none;
        position:initial;
        top: 60px; /* Adjust position to appear below navbar */
        left: 0;
        right: 0;
        background-color: white;
        flex-direction: row;
        align-items: center;
        width: 100%;
        margin-left: 10px;
        padding: 10px 0;
        z-index: 100;
    }
    .nav-links {
        list-style: none;
        display: flex;
        
        gap: 5px;
    }

    /* Show hamburger icon */
    .hamburger {
        display: block;
        z-index: 101;
        cursor: pointer;
        position: relative;
    }

    /* Show nav links when menu is active */
    .nav-links.active {
        display: flex;
        letter-spacing: .5px;
        font-size: 10px;
        font-family: sans-serif;
    }
}
